@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}
.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family:'Square Peg', cursive;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
span{
  padding: 30px 0;
  text-align: center;
  font-family:'Square Peg', cursive;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.slot_inner{
    text-align: center;
    font-size: 10px;
}

.slotMachine{
    display: flex;
    width: 50%;
    border: 3px solid gray;
    line-height: 30px;
    flex-direction: column;
    justify-items: center;
    margin-left: 35%;
    border-radius: 20px;
    margin-top: 20px;
}
.typewriter{
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

